<div class="prateleira vitrine interna n1colunas"><ul><li layout="3d564047-8ff1-4aa8-bacd-f11730c3fce6" class="perfumes-importados-na-epoca-cosmeticos last">

<span style="display:none;" class="product-data-id">618</span>

<a class="productImage" title="J&#39;adore Eau de Parfum Dior - Perfume Feminino" href="http://www.epocacosmeticos.com.br/j-adore-eau-de-parfum-dior-perfume-feminino/p">
    <!--<script type='text/html'><img src="http://epocacosmeticos.vteximg.com.br/arquivos/ids/161062-155-155/jadore-eau-de-parfum-edp-30ml-dior.jpg" width="155" height="155" alt="J-Adore-Eau-De-Parfum-Dior---Perfume-Feminino" id="" /></script>
    <noscript>
        <img src="http://epocacosmeticos.vteximg.com.br/arquivos/ids/161062-155-155/jadore-eau-de-parfum-edp-30ml-dior.jpg" width="155" height="155" alt="J-Adore-Eau-De-Parfum-Dior---Perfume-Feminino" id="" />
    </noscript>-->
        <img src="http://epocacosmeticos.vteximg.com.br/arquivos/ids/161062-155-155/jadore-eau-de-parfum-edp-30ml-dior.jpg" width="155" height="155" alt="J-Adore-Eau-De-Parfum-Dior---Perfume-Feminino" id="" />
</a>
<!--<div class="discount"> <p class="flag flag-premiado">Flag-PREMIADO</p></div>-->
<div class="discount"> <p class="flag flag-premiado">Flag-PREMIADO</p></div>

<p class="brand"><a class="texto brand dior" href="http://www.epocacosmeticos.com.br/dior">Dior</a></p>
<h3><a title="J&#39;adore Eau de Parfum Dior - Perfume Feminino" href="http://www.epocacosmeticos.com.br/j-adore-eau-de-parfum-dior-perfume-feminino/p">J'adore Eau de Parfum Dior - Perfume Feminino</a></h3>

<p class="descriptionShort" style="display:none;">
    <strong>J'adore</strong> Eau de Parfum de <strong>Dior</strong> é um <strong>perfume feminino</strong> absoluto, moderno, elegante, luminoso e sensual. A emoção única de um bouquet floral frutal. A essência do luxo feminino que se consagra como uma lenda. Um <strong>perfume importado</strong> para <em style="font-style:normal";>mulheres glamourosas, audaciosas e absolutamente femininas</em>.  Suas notas combinam mandarina, flor de champaca, orquídeas, rosas, violetas, ameixa de damasco e madeira de amarante.  As linhas curvas e sensuais de seu frasco em formato de ânfora fazem desta fragrância refinada e sensual um mito.
</p>

    <p class="price">
        <a title="J&#39;adore Eau de Parfum Dior - Perfume Feminino" href="http://www.epocacosmeticos.com.br/j-adore-eau-de-parfum-dior-perfume-feminino/p">
						<span class="newPrice"><span>por </span><em>R$ 229,00</em></span>
			<em class="installment">
									10X de R$ 22,90
							</em>
		</a>
	</p>

<span id="rating-produto-618" class="rating-produto avaliacao40">40</span>
<div class="trustvox-widget-rating" data-trustvox-product-code="618"></div>
    <a href="http://www.epocacosmeticos.com.br/j-adore-eau-de-parfum-dior-perfume-feminino/p" class="comprar">COMPRAR</a>
</li><li id="helperComplement_618" style="display:none" class="helperComplement"></li></ul><ul><li layout="3d564047-8ff1-4aa8-bacd-f11730c3fce6" class="perfumes-importados-na-epoca-cosmeticos last">

<span style="display:none;" class="product-data-id">1182</span>

<a class="productImage" title="Miss Dior Eau de Parfum Dior - Perfume Feminino" href="http://www.epocacosmeticos.com.br/miss-dior-eau-de-parfum-dior-perfume-feminino/p">
    <!--<script type='text/html'><img src="http://epocacosmeticos.vteximg.com.br/arquivos/ids/163673-155-155/miss-dior-edp-100ml-dior.jpg" width="155" height="155" alt="Miss-Dior-Eau-De-Parfum-Dior---Perfume-Feminino" id="" /></script>
    <noscript>
        <img src="http://epocacosmeticos.vteximg.com.br/arquivos/ids/163673-155-155/miss-dior-edp-100ml-dior.jpg" width="155" height="155" alt="Miss-Dior-Eau-De-Parfum-Dior---Perfume-Feminino" id="" />
    </noscript>-->
        <img src="http://epocacosmeticos.vteximg.com.br/arquivos/ids/163673-155-155/miss-dior-edp-100ml-dior.jpg" width="155" height="155" alt="Miss-Dior-Eau-De-Parfum-Dior---Perfume-Feminino" id="" />
</a>
<!--<div class="discount"> </div>-->
<div class="discount"> </div>

<p class="brand"><a class="texto brand dior" href="http://www.epocacosmeticos.com.br/dior">Dior</a></p>
<h3><a title="Miss Dior Eau de Parfum Dior - Perfume Feminino" href="http://www.epocacosmeticos.com.br/miss-dior-eau-de-parfum-dior-perfume-feminino/p">Miss Dior Eau de Parfum Dior - Perfume Feminino</a></h3>

<p class="descriptionShort" style="display:none;">
    Ousado e elegante, o perfume feminino <strong>Miss Dior Eau de Parfum</strong> revela a elegância atemporal da <strong>Dior</strong> em uma <strong>fragrância</strong> chipre floral sensual. Inspirada na eterna sofisticação da mulher Parisiense  <em style="font-style:normal";>Para uma mulher elegante, apaixonada e romântica por natureza</em>, <strong>Miss Dior</strong> inspira um amor intenso e divertido, pelo qual ela busca. Ela personifica o estilo de vida espontâneo da jovem mulher de hoje, representando um tipo particular de liberdade e sedução.   A <strong>fragrância</strong> é caracterizada por um charme instantâneo e cativante. <strong>Miss Dior</strong> se desenvolve passo a passo. Desliza do charme das frutas frescas cítricas, das notas das flores se abrindo e, em seguida, para a elegância nobre do patchouli, antes de finalmente concluir com musk - o último traço de memória da fragrância.   Mandarina da Sicília, Laranja Sanguínea e Bergamota formam uma combinação cativante. O coração floral e feminino bate com uma mescla dos absolutos de Jasmim da Índia e do Egito, combinados com essência de Rosa de Damascena e absoluto de Laranja. A moderna e real essência de Patchouli da Indonésia dá a fragrância um nível totalmente contemporâneo de sofisticação. Por último, as notas de fundo amadeiradas de Sândalo e Vertiver da Índia concedem acordes quentes e sensuais
</p>

    <p class="price">
        <a title="Miss Dior Eau de Parfum Dior - Perfume Feminino" href="http://www.epocacosmeticos.com.br/miss-dior-eau-de-parfum-dior-perfume-feminino/p">
						<span class="newPrice"><span>por </span><em>R$ 229,00</em></span>
			<em class="installment">
									10X de R$ 22,90
							</em>
		</a>
	</p>

<span id="rating-produto-1182" class="rating-produto avaliacao40">40</span>
<div class="trustvox-widget-rating" data-trustvox-product-code="1182"></div>
    <a href="http://www.epocacosmeticos.com.br/miss-dior-eau-de-parfum-dior-perfume-feminino/p" class="comprar">COMPRAR</a>
</li><li id="helperComplement_1182" style="display:none" class="helperComplement"></li></ul></div>
